.band-img{
width:350px !important;
height: 350px !important;
border-radius: 50% !important;
margin-top: 6vh;
}
.main-div{
    margin-top: 160px;
}
.about-text1{
    margin-top: 8vh;
    text-align: start;
    margin-left: 20px;
}
.about-text2 {
    margin-top: 20px;
    text-align: start;
    margin-bottom: 20px;
}
