.band-img{
width:300px !important;
height: 300px !important;
border-radius: 50% !important;
margin-top: 10vh;
}
.main-div{
    margin-top: 150px;
}
.about-text1{
    margin-top: 15vh;
    text-align: start;
    margin-left: 20px;
}
.about-text2 {
    margin-top: 20px;
    text-align: start;
}