.cart-image{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 0;
}
.cart-align {
  margin-top: 120px !important;
  margin-right: 15px !important;
}
.cart-heading{
    text-align: center;
    margin-top: 20px;
}
.cart-details{
    font-size: 18px;
    padding:0px;
    border-bottom: 2px solid black;
}
.cart-products{
    padding: 20px;
}
.input-box{
    width: 20%;
    text-align: center;
    margin-bottom: 5px;
    width : 50% !important;
}
.remove-btn {
    border-radius: 40px !important;
}
.item-price{
    color: grey !important;
    margin-left: 0 !important;
    margin-top: 10px !important;
}
.total-price{
    color:black;
    font-size: larger;
}
.item-title{
    margin-left: 0;
}
.cart-card{
    width:35vw;
}
.close-btn{
    top:20 !important;
    right: 0 !important;
    position: fixed;
}