.navbar{
height : 100px;
}
.navbar-brand{
    font-size: 100px;
}
.overlay-cart-container{
    position :fixed;
    top:10vh;
    left: 0;
    width : 100vw;
    height : 200vh;
    background-color: rgba(0,0,0,0);
    z-index: 999;
}
.nav-header{
    position : fixed;
}
.cart-button{
    border-radius: 40px  !important; 
    margin-left: 20px !important;
}