.product-container {
  margin-bottom: 10vh ;
}
.product-image{
    size: 2x;
}
.product-heading{
    margin-top:20vh;
    margin-bottom: 5vh;
}
.product-title{
    margin-bottom: 4vh;
}
.product-price{
    margin-top: 3vh;
    margin-left: 10vw;
}
.product-button{
    margin-top: 4vh;
    margin-right: 10vw;
    border-radius: 40px !important;
}